# GNU Emacs temporary files

ChangeLog
\#*
.\#*
.php_cs_cache
TAGS
*~

vendor/.git

import/solrmarc.log*
local/cache/*
local/config/statusmail.yml
local/config/vufind/config.ini
local/harvest/DAI_ALL/
local/harvest/DAI_THS/
local/harvest/dai-katalog/
local/harvest/dai-katalog-auth/
local/harvest/log/
local/import/log/
local/import/mrc/
local/statusmail.log

solr/authority/index
solr/authority/tlog/
solr/authority/conf/_rest_managed.json

solr/biblio/index
solr/biblio/spellShingle/
solr/biblio/spellchecker/
solr/biblio/tlog/

solr/biblio/conf/_rest_managed.json

solr/logs

local/iDAI.world/publications_books_mapping.json
local/iDAI.world/publications_serials_mapping.json

.idea
.DS_Store

/downloads
/solr/vendor
/vendor
composer.phar
import/solrmarc.log*
node_modules
public/swagger-ui

.vagrant
lessphp_*.list

# DAI customized: We have a separate repository for configurations, those should be added using symbolic links.
local/httpd-vufind.conf
public/test.php
