.home-image {
	background-image: url('../images/Buchruecken.jpg');
	height: 274px;
}

mark {
	background-color: #ffffcc;
}

.thesaurus .breadcrumb li {
	vertical-align: middle;
}

.searchHomeContent .navbar-form input,
.searchHomeContent .navbar-form select,
.searchHomeContent .navbar-form button {
	margin-top: 0;
}

.record .label-info {
	background-color: #B9C5D3;
}
